[Unit]
Description=Monitoring script for process 'test'
Wants=monitor-test.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitor_test.sh
User=root
StandardOutput=null
StandardError=journal